body {
    padding-top: 60px;
}

.sn { /* Scientific name */
    font-style:italic; 
}

#about_box {
    text-align: center;
}

#tag_cloud {
    line-height: 250%;
    text-align: center;
}

.lightbox-colleft {
    float: left;
}

.lightbox-colright {
    float: right;
}

