body {
    padding-top: 60px;
}

.sn { /* Scientific name */
    font-style:italic; 
}

h1 {
    font-size: 32px;
    line-height: 50px;
    margin: 30px 0;
    border-bottom: 1px solid;
}

h1#main_title {
    margin-top:0;
    border-bottom: 0;
    font-size: 40px;
}

#about_box {
    text-align: center;
    color: white;
    background-color: #222;
    
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    
    box-shadow: 3px 3px 6px #888;
}

#about_box h1 {
    border: 0;
    line-height: 36px;
    margin-top: 0;
}

#about_box table {
    margin-bottom: 18px;
    margin-left: auto;
    margin-right: auto;
}

#about_box table td{
    padding: 8px;
    text-align: left;
}

#tag_cloud {
    line-height: 250%;
    text-align: center;
}

#lightbox-colleft {
    float: left;
    max-height: 650px;
    overflow-y: auto;
}

#lightbox-colright {
    float: right;
    padding: 20px 50px;
}

