body {
    padding-top: 60px;
}

.sn { /* Scientific name */
    font-style:italic; 
}

#about_box {
    text-align: center;
}

#tag_cloud {
    line-height: 250%;
    text-align: center;
}

#lightbox-colleft {
    float: left;
    max-height: 650px;
    overflow-y: auto;
}

#lightbox-colright {
    float: right;
    padding: 20px 50px;
}

