{# TODO: Add more fields + better design  #}
<div class="lightbox fade" id="lightbox_{{ picture.id }}" style="display: none;">

  <div class="lightbox-content">
    <h1 class="sn">{{ picture.scientificname }}</h1>
    
    <div class="lightbox-colleft">
      <img src="{{ picture.fileuri_picture_only }}" alt="" />
    </div>

    <div class="lightbox-colright">

      <h2>Attributes</h2>
      <h3>Taxonomy</h3>
      <table class="table">
        <tr><td><b>Family:</b></td><td> {{ picture.family.name|default:"/" }}</td></tr>
        <tr><td><b>Subfamily:</b></td><td> {{ picture.subfamily.name|default:"/"}}</td></tr>
        <tr><td><b>Genus:</b></td><td> {{ picture.genus.name|default:"/" }}</td></tr>
        <tr><td><b>Species:</b></td><td> {{ picture.species.name|default:"/" }}</td></tr>
        <tr><td><b>Subspecies:</b></td><td> {{ picture.subspecies.name|default:"/" }}</td></tr> 
      </table>

      <h3>Collect</h3>
      <table class="table">
        <tr><td><b>Date:</b></td><td> {{ picture.eventdate_verbatim|default:"/" }}</td></tr>
        <tr><td><b>Country:</b></td><td> {{ picture.country.name|default:"/" }}</td></tr>
        <tr><td><b>Province:</b></td><td> {{ picture.province.name|default:"/" }}</td></tr>
        <tr><td><b>Station:</b></td><td> {{ picture.station.name|default:"/" }}</td></tr>
      </table>

      <h3>Picture</h3>
      <table class="table">
        <tr><td><b>Id:</b></td><td> {{ picture.id|default:"/" }}</td></tr>
        <tr><td><b>View:</b></td><td> {{ picture.view.name|default:"/" }}</td></tr>    
      </table>

    </div>
  </div>

</div>