{% extends "base.html" %}

{% load webdesign %}

{% block content %}
  <div class="row">
    <div class="span10 offset1">
      <h1>About</h1>
      
      <h2>OpenUp</h2>
      <p>{% lorem %}</p>
      
      <h2>How to cite</h2>
      <p>{% lorem %}</p>
      
      <h2>Tools & resources</h2>
      <p>The following Open Source tools, among others, were used to implement this website: </p>
      <ul>
        {#  TODO: Fix links #}
        <li><a href="">PostgreSQL</a></li>
        <li><a href="">Python</a></li>
        <li><a href="">Django</a></li>
        <li><a href="">jQuery</a></li>
        <li><a href="">Bootstrap</a></li>
      </ul>  
      
      <h2>Links</h2>
      <p>{% lorem %}</p>
      
      <h2>Acknowledgements</h2>
      <p>{% lorem %}</p>
      
    </div>  
  </div>  
{% endblock %}