{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="span10 offset1">
      <h1>About</h1>
      
      <h2>Opening Up the Natural History Heritage for Europeana (OpenUp!)</h2>
      <p>

        OpenUp! project is a Best Practice Network, co-funded by the European Commission under the eContentplus programme,
         as part of the i2011 policy. Therefore, the interoperability of existing repositories and the implementation of 
         technological solutions for uploading, search and long-term sustainability of the digitized multimedia objects is 
         one of the goals of the project. We hope, that the ability of the multimedia through a global portal Europeana to 
         everyone improves the interoperability of European taxonomy and the multilingual access point together with robust 
         searching engine allows wide range of users exploit these data.
      </p>
      
      <p><a href="http://open-up.eu/">http://open-up.eu/</a></p>
      
      <h2>How to cite</h2>
      <p>
        Mal, N., Drumont, A., Kerkhof, S. & P. Grootaert, 2012. Pictorial beetle collection of the Royal Belgian Institute of Natural Sciences.
      </p>
      
      <h2>Tools & resources</h2>
      <p>The following Open Source tools, among others, were used to implement this website: </p>
      <ul>
        <li><a href="http://www.postgresql.org/">PostgreSQL</a></li>
        <li><a href="http://www.python.org/">Python</a></li>
        <li><a href="https://www.djangoproject.com/">Django</a></li>
        <li><a href="http://jquery.com/">jQuery</a></li>
        <li><a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a></li>
      </ul>  
      
      <h2>Links</h2>
      <ul>
        <li><a href="http://www.biodiversity.be">Belgian Biodiversity Platform</a></li>
        <li><a href="http://www.naturalsciences.be/">Royal Belgian Institute of Natural Sciences</a></li>
      </ul>
      
      <h2>Acknowledgements</h2>
      <p>First of all we warmly thank the photographer Noël Mal who spent thousand of hours in re-preparing beetles and photographing them from all sides.
      Further thanks are due to Alain Drumont (coordination), Stefan Kerkhof (database), Nicolas Noé (website) and André Heughebaert (database).</p>
      
    </div>  
  </div>  
{% endblock %}