<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-lightbox.css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}css/openup.css" />
  <title>Pictorial beetle collection of the Royal Belgian Institute of Natural Sciences</title>
</head>

<body>
  
  {% include '_navbar.html' %}

  <div class="container">
    {% block content %}{% endblock %}
    
    <hr/>
    <footer>
      <p>© 2012 <a href="http://www.biodiversity.be">Belgian Biodiversity Platform</a></p>
    </footer>
  </div>  
  
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.2.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-lightbox.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/openup.js"></script>
  {% block additional_js %}{% endblock %} 
</body>

</html>
