{% extends "base.html" %}

{% load webdesign %}

{% block content %}
  <div class="row">
    <div class="span8">
      <h1>Contact</h1>
      
      <h2>Scientific editor</h2>
      <p>{% lorem %}</p>
      
      <h2>Website development</h2>
      <address>
        <strong>Belgian Biodiversity Platform</strong><br/>
        Université libre de Bruxelles<br/>
        Campus de la Plaine - CP 257<br/>
        Boulevard du Triomphe<br/>
        B-1050 Bruxelles<br/>
        <a href="mailto:n.noe@biodiversity.be">n.noe@biodiversity.be</a>
      </address>  
      
    </div>  
  </div>  
{% endblock %}