{% extends "base.html" %}

{% load webdesign %}

{% block content %}
  <div class="row">
    <div class="span10 offset1">
      <h1>Contact</h1>
      
      <h2>Scientific editor</h2>
      <address>
        <strong>Patrick Grootaert</strong><br/>
         Royal Belgian Institute of Natural Sciences<br/>
         Rue Vautier 29<br/>
         B-1000 Bruxelles<br/>
         <a href="mailto:Patrick.Grootaert@natuurwetenschappen.be">Patrick.Grootaert@natuurwetenschappen.be</a>
      </address>
      
      <h2>Imaging</h2>
      <p>All pictures by Noël MAL.</p>
      
      <h2>Website development</h2>
      <address>
        <strong>Belgian Biodiversity Platform</strong><br/>
        Université libre de Bruxelles<br/>
        Campus de la Plaine - CP 257<br/>
        Boulevard du Triomphe<br/>
        B-1050 Bruxelles<br/>
        <a href="mailto:n.noe@biodiversity.be">n.noe@biodiversity.be</a>
      </address>  
      
    </div>  
  </div>  
{% endblock %}