{% extends "base.html" %}

{% load django_nuages_tag %}

{% block content %}

<div class="row">
  <div class="span12"><h1 id="main_title">Pictorial beetle collection of the Royal Belgian Institute of Natural Sciences</h1></div>
</div>

<div class="row">
  <div class="span7 offset1">
    <div class="row">
       <p class="lead" style="text-align: justify"> 
       
        The {{ metrics.pictures }} remarkable pictures that you can find here on this website were all made by Mr. Noël Mal a freelance associate of our Museum. Since the pictures were all made of material conserved here in the museum, it not only illustrates the content of our collections but it shows what beautiful creatures hide behind a scientific name.
        Revealing these beautiful pictures to the great public was stimulated by the European sponsored project OpenUp! in the context of Europeana project.
        Thanks are due to Alain Drumont (coordination), Stefan Kerkhof (database), Nicolas Noé (website) and André Heughebaert (database) and of course we are very grateful for the photographer Noël Mal who spent thousand of hours in re-preparing beetles and photographing them from all sides.
        
      </p> 
      <p class="lead" style="text-align: right;">
        Patrick Grootaert, promoter
      </p>
      {#  RBINS logo ? #}
    </div>

    <div class="row">    
      <h1>Browse pictures by family</h1>

      {% compute_tag_cloud families count_pictures font_size 10 55 log %}
      {% compute_tag_cloud families count_pictures margin 5 28 log %}
      {% compute_tag_cloud families count_pictures opacity 0.7 1 log %}

      <div id="tag_cloud">
        {% for family in families %}
        <a 
          class="tag-cloud-entry" 
          style="font-size: {{ family.font_size }}px; margin: {{ family.margin }}px; opacity: {{ family.opacity }}" 
            title="{{ family.count_pictures }} picture{{ family.count_pictures|pluralize }}" 
          href="{% url website-search-view %}?family_id={{ family.id }}">
            {{ family.name }}
        </a> 
        {% endfor %}
      </div>

    </div>

    <div class="row">
      <h1>Search pictures</h1>
      
      <form id="search_form" class="form-horizontal">
        <fieldset>
          
          <div id="taxonomic_select_container"></div>
          
          <div class="control-group">
            <label class="control-label" for="sn">Scientific name contains</label>
            <div class="controls"><input type="text" id="sn"></div>
          </div>
          
          <div class="form-actions">
            <button id="submit_search" type="submit" class="btn btn-primary">Search</button>
          </div>  
        </fieldset>
      </form> 
      
      
    </div>

  </div>  

  <div class="span3">
    <div id="about_box" class="well">
      <h1>About</h1>

      <table>
        <tr><td><span class="badge badge-success">{{ metrics.pictures }}</span></td> <td>pictures</td></tr>
        <tr><td><span class="badge badge-warning">{{ metrics.families }}</span></td> <td>families</td></tr>
        <tr><td><span class="badge badge-important">{{ metrics.species }}</span></td> <td>species</td></tr>
      </table>  

      <p>Explore this data on: <a href="#">Europeana</a> | <a href="#">GBIF</a></p>
      
      {# TODO: Implement last update features... how ? #}
      <p>Last updated on {% now "jS F o" %}.</p>
    </div>
  </div>
</div>

{% endblock %}


{% block additional_js %}
<script type="text/javascript">
  $(function(){
    // App configuration
    OpenUp.config.dom = {
      'taxonomic_select_container': $('#taxonomic_select_container'), 
      'search_button'             : $('#submit_search'),
      'sn_text_field'             : $('#sn')
    };
    // Taxonomy levels included in search form
    // They shoud be sorted by rank 
    OpenUp.config.search_taxonomy_levels = [
      {label: 'Family', html_id: 'family', server_model: 'Family', hide_until_parent_set: false}, 
      {label: 'Genus', html_id: 'genus', server_model: 'Genus', hide_until_parent_set: false},
      {label: 'Species', html_id: 'species', server_model: 'Species', hide_until_parent_set: true}
    ];
    
    OpenUp.config.spinner_path = "{{ STATIC_URL }}img/ajax-loader.gif";
    
    OpenUp.config.urls = {
      'populate_taxonomic_lists': '{% url ajax-populate-list %}',
      'search'                  : '{% url website-search-view %}'
    };
    
    OpenUp.addTaxonomySelectsToSearchForm();
    
    // Install bootstrap tooltips on tag loud
    $('.tag-cloud-entry').tooltip();
    
    OpenUp.initSearchFormAjax();
    
    // Search form submission handling
    OpenUp.initSearchFormSubmission();
   
   
  });

</script>
{% endblock %}  