{% extends "base.html" %}

{% load webdesign nn_tag_cloud %}

{% block content %}

<div class="row">
  <div class="span7 offset1">
    <div class="row">
      <h1>Introduction</h1>
      <p class="lead">{% lorem %}</p>
      {#  RBINS logo ? #}
    </div>

    <div class="row">    
      <h1>Browse pictures by family</h1>

      {% simple_tag_cloud families count_pictures 12 50 log %}

      <div id="tag_cloud">
        {% for family in families %}
        <a style="font-size: {{ family.tag_size }}px; margin: {{ family.tag_size }}px;" href="{% url website-search-view %}?family_id={{ family.id }}">{{ family.name }}</a> 
        {% endfor %}
      </div>

    </div>

    <div class="row">
      <h1>Search pictures</h1>
      
      <form class="form-horizontal">
        <fieldset>
          <legend>Taxonomy</legend>
          
          <div class="control-group">
            <label class="control-label" for="family">Family</label>
            <div class="controls"><select id="family"><option>AAA</option></select></select></div>
          </div>
          
          <div class="control-group">
            <label class="control-label" for="subfamily">SubFamily</label>
            <div class="controls"><select id="subfamily"><option>BBB</option></select></select></div>
          </div>
          
          <div class="control-group">
            <label class="control-label" for="genus">Genus</label>
            <div class="controls"><select id="genus"><option>CCC</option></select></select></div>
          </div>
          
          <div class="control-group">
            <label class="control-label" for="sn">Scientific name contains</label>
            <div class="controls"><input type="text" id="sn"></div>
          </div>
          
          <div class="form-actions">
            <button type="submit" class="btn btn-primary">Search</button>
          </div>  
        </fieldset>
      </form> 
      
      
    </div>

  </div>  

  <div class="span3">
    <div id="about_box" class="well">
      <h1>About</h1>
      <p>{{ metrics.pictures }} pictures</p>
      <p>{{ metrics.families }} families</p>
      <p>{{ metrics.species }} species</p>

      {# TODO: Implement last update features... how ? #}
      <p>Last updated on {% now "jS o\f F" %}</p>
      <p><a href="#">View data on Europeana</a></p>
      <p><a href="#">View data on GBIF</a></p>
    </div>
  </div>
</div>

{% endblock %}  